<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

        <!-- Import FontAwesome -->
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/fontawesome.min.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/logo/logo_ticki.svg') }}" type="image/x-icon">

        <!-- Title -->
        <title>ثبت نام - تیکی</title>
    </head>
    <body>

        <!-- Alerts -->
        {% include 'includes/_alerts.html' %}

        <!-- Section: Signup -->
        <section class="section-single">
            <img src="{{ url_for('static', filename='imgs/logo/logotype_ticki_b.svg') }}" alt="logo ticki" draggable="false">

            <!-- Form: Signup -->
            <form action="/signup/" method="post" class="form-control-single">
                <div>
                    <h3>ثبت نام</h3>
                    <p>با عضویت در سایت، تمامی قوانین و شرایط استفاده از خدمات <a href="">تیکی</a> را پذیرفته اید.</p>
                </div>

                <input type="text" name="signupUsername" placeholder="نام کاربری" aria-placeholder="نام کاربری" maxlength="200" required>
                <input type="email" name="signupEmail" placeholder="ایمیل" aria-placeholder="ایمیل" maxlength="300" required>
                <input type="tel" name="signupTel" placeholder="شماره تماس" aria-placeholder="شماره تماس" dir="rtl" maxlength="16" required>
                <input type="password" name="signupPassword" placeholder="رمز عبور" aria-placeholder="رمز عبور" maxlength="100" required>
                <input type="submit" value="ثبت نام">
            </form>

            <p style="margin-top: 15px; color: #707070;">قبلا ثبت نام کرده اید؟ <a href="">وارد شوید</a></p>
        </section>

    </body>
</html>